
@{
    ViewBag.Title = "ProductInfo";
}
<br />

<h2>Total List</h2>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List </title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">


    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {

            var table = $('#dtbl').DataTables

                ({

                    aoColumns: [
                        { 'data': 'ProductId' },
                        { 'data': 'ProductName' },
                        { 'data': 'CategoryId' },
                        { 'data': 'CategoryName' }
                    ],
                    bFilter: true,
                    bServerSide: true,
                    sAjaxSource: "/Home/ProductList"

                });

            table.columns().eq(0).each(function (colIdx) {
                $('input', table.column(colIdx).footer()).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <table id="dtbl" class="table table-striped" >
                    <thead>
                        <tr>
                            <th>ProductId</th>
                            <th>ProductName</th>
                            <th>CategoryId</th>
                            <th>CategoryName</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</body>
</html>

